# EVB-KSZ9477 gPTP 範例設定檔-測試正常
[global]
# IEEE 802.1AS (gPTP) 設定
transportSpecific       0x1
ptp_dst_mac             01:80:C2:00:00:0E
network_transport       L2
delay_mechanism         P2P
time_stamping           hardware

# Peer delay  相關設定
logMinPdelayReqInterval 0
neighborPropDelayThresh 800
min_neighbor_prop_delay -20000000
assume_two_step         1

# 訊息間隔
logSyncInterval         -3
logAnnounceInterval     0
announceReceiptTimeout  3

# 其他設定
priority1               248
priority2               248
domainNumber            0
#